{% extends "blog/base.html" %}
{% block content %}
<h1>New Comment</h1>
<form class="post-form" method="post">
  {% csrf_token %}
  {{ form.as_p}}
  <button type="submit" class='save btn btn-default'name="button">Post Comment</button>
</form>

<script>
  var editor = new MedimEditor('.editable');
</script>
{% endblock %}
