{% extends "blog/base.html" %}

{% block content %}

<h1 class="post-title loader">{{post.title}}</h1>
{% if post.published_date is not None %}
<div class="date postdate">
  {{post.published_date}}
</div>
{% else %}
<a href="{% url 'post_publish' pk=post.pk %}">Publish</a>
{% endif %}

<p class='postcontent'>{{ post.text|safe|linebreaksbr }}</p>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}"><span class="fa fa-pencil"></span></a>
<a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}"><span class="fa fa-remove"></span></a>
</a>
{% endif %}


<hr>
<a href="{% url 'add_comment_to_post' pk=post.pk %}" class=btn btn-default>Add comment</a>

<div class="container">
  {% for comment in post.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}

              {{ comment.created_date }}
              {% if not comment.approved_comment %}
                  <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}"><span class="fa fa-remove"></span></a>
                  <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}"><span class="fa fa-check"></span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Posted by: <strong>{{ comment.author }}</strong></p>
      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
</div>

{% endblock %}
