{% extends "blog/base.html" %}

{% block content %}
<h2 class="username">author: {{user.username}}</h2>
<h1>New Post</h1>
<form class="post-form" method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit" class="save btn btn-default" name="button">Save</button>
</form>

<script>
  var editor = new MediumEditor('.editable');
</script>
{% endblock %}
