{% extends 'blog/base.html' %}

{% block content %}

<div class="jumbotron">
<h2>Registration</h2>

<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn btn-primary" value="Register">
  <input type="hidden" name="next" value="{{next}}">

</form>

</div>


{% endblock %}
